body {
  margin: 0;
  font-family: "Segoe UI", Arial, sans-serif;
  color: #333;
  line-height: 1.6;
}

/* HEADER */
header {
  background: #1b5e20;
  color: white;
  padding: 15px 40px;
}

/* HEADINGS */
h1 {
  color: #1b5e20;
}

h2 {
  color: #2e7d32;
  margin-top: 40px;
}

