body {
  margin: 0;
  font-family: "Segoe UI", Arial, sans-serif;
  color: #333;
  line-height: 1.6;
}

/* HEADER */
header {
  background: #1b5e20;
  color: white;
  padding: 15px 40px;
}

/* HEADINGS */
h1 {
  color: #1b5e20;
}

h2 {
  color: #2e7d32;
  margin-top: 40px;
}

/* SECTIONS */
section {
  padding: 40px;
  max-width: 1100px;
  margin: auto;
}

/* SERVICES LIST */
ul {
  list-style: none;
  padding: 0;
}

ul li {
  background: #e8f5e9;
  margin: 10px 0;
  padding: 15px;
  border-left: 5px solid #2e7d32;
}

/* FOOTER */
footer {
  background: #1b5e20;
  color: white;
  text-align: center;
  padding: 15px;
  margin-top: 40px;
}
/* HERO SECTION */
.hero {
  background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),
              url("https://cdn.vectorstock.com/i/1000v/50/49/green-tree-on-a-black-background-vector-1835049.jpg");
  background-size: cover;
  background-position: center;
  color: white;
  text-align: center;
  padding: 100px 30px;
}

.hero h1 {
  font-size: 42px;
  margin-bottom: 20px;
}

.hero p {
  font-size: 18px;
  max-width: 800px;
  margin: auto;
}

